# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env
.DS_Store
*.log

# Local Scripts (User's unrelated files)
auth.py
cook.py
dominos.py
new_recording.py
target.py
test.py
recordings/
pytest.ini
setup.cfg
__init__.py
